.container{
  max-width: 1080px;
  margin: 20px auto;
}
.css-1s2u09g-control{
  margin: auto;
}
.location-button{
  background-color: white;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin-top: 5PX;
  border-radius: 6px;
  cursor: pointer;
}
.location-button:hover{
  filter: brightness(93%);
}